body {
  padding: 0;
  margin: 0;
  background-color: #392338;
  color: #fff;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hamburger {
  content: ' ';
  position: relative;
  width: 20px;
  border: 2px solid #392338;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.333333333333333s ease;
  -o-transition: all 0.333333333333333s ease;
  transition: all 0.333333333333333s ease;
}
.hamburger:after,
.hamburger:before {
  content: ' ';
  position: absolute;
  left: 50%;
  width: 100%;
  border: 2px solid #392338;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition-property: top, bottom, -webkit-transform;
  transition-property: top, bottom, -webkit-transform;
  -o-transition-property: top, bottom, transform;
  transition-property: top, bottom, transform;
  transition-property: top, bottom, transform, -webkit-transform;
  -webkit-transition-duration: 1s, 1s, 0.25s;
       -o-transition-duration: 1s, 1s, 0.25s;
          transition-duration: 1s, 1s, 0.25s;
}
.hamburger:after {
  top: -8px;
}
.hamburger:before {
  bottom: -8px;
}
.circle {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: rotate(108deg);
      -ms-transform: rotate(108deg);
          transform: rotate(108deg);
  overflow: hidden;
  list-style: none;
}
.circle li {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.circle li .placeholder {
  position: absolute;
  left: -100%;
  padding-top: 1.5em;
  padding-top: 26.666666666666668px;
  width: 200%;
  height: 200%;
  text-align: center;
  -webkit-transform: skewY(54deg) rotate(18deg);
      -ms-transform: skewY(54deg) rotate(18deg);
          transform: skewY(54deg) rotate(18deg);
}
.circle li .placeholder .upside {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle li .placeholder a {
  text-decoration: none;
  pointer-events: auto;
}
.circle li .placeholder button {
  pointer-events: auto;
}
.circle li .placeholder .button {
  font-size: 2.3em;
  font-size: 36.83241252302026px;
  background-color: transparent;
  border: none;
  color: #392338;
  cursor: pointer;
}
.circle li:nth-child(1) {
  -webkit-transform: rotate(0deg) skewY(-54deg);
      -ms-transform: rotate(0deg) skewY(-54deg);
          transform: rotate(0deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(2) {
  -webkit-transform: rotate(36deg) skewY(-54deg);
      -ms-transform: rotate(36deg) skewY(-54deg);
          transform: rotate(36deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(3) {
  -webkit-transform: rotate(72deg) skewY(-54deg);
      -ms-transform: rotate(72deg) skewY(-54deg);
          transform: rotate(72deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(4) {
  -webkit-transform: rotate(108deg) skewY(-54deg);
      -ms-transform: rotate(108deg) skewY(-54deg);
          transform: rotate(108deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(5) {
  -webkit-transform: rotate(144deg) skewY(-54deg);
      -ms-transform: rotate(144deg) skewY(-54deg);
          transform: rotate(144deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(6) {
  -webkit-transform: rotate(180deg) skewY(-54deg);
      -ms-transform: rotate(180deg) skewY(-54deg);
          transform: rotate(180deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(7) {
  -webkit-transform: rotate(216deg) skewY(-54deg);
      -ms-transform: rotate(216deg) skewY(-54deg);
          transform: rotate(216deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(8) {
  -webkit-transform: rotate(252deg) skewY(-54deg);
      -ms-transform: rotate(252deg) skewY(-54deg);
          transform: rotate(252deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(9) {
  -webkit-transform: rotate(288deg) skewY(-54deg);
      -ms-transform: rotate(288deg) skewY(-54deg);
          transform: rotate(288deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(10) {
  -webkit-transform: rotate(324deg) skewY(-54deg);
      -ms-transform: rotate(324deg) skewY(-54deg);
          transform: rotate(324deg) skewY(-54deg);
  background-color: #fff;
}
.koc-menu {
  pointer-events: none;
}
.koc-menu--circle {
  position: absolute;
  z-index: 13;
  width: 260px;
  height: 260px;
  overflow: hidden;
}
.koc-menu .icon {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.koc-menu input[type="radio"] {
  position: fixed;
  top: -99999px;
  left: -99999px;
}
.koc-menu__active {
  position: absolute;
}
.koc-menu__toggle {
  z-index: 11;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform 1.3s;
  transition: -webkit-transform 1.3s;
  -o-transition: transform 1.3s;
  transition: transform 1.3s;
  transition: transform 1.3s, -webkit-transform 1.3s;
  cursor: pointer;
  pointer-events: auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.koc-menu__toggle:focus,
.koc-menu__toggle:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
.koc-menu__listings {
  z-index: 10;
  position: absolute;
  width: 400px;
  height: 400px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: scale(0.1) rotate(150deg);
      -ms-transform: scale(0.1) rotate(150deg);
          transform: scale(0.1) rotate(150deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.koc-menu__arrow {
  visibility: hidden;
  position: absolute;
}
.koc-menu__arrow ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.koc-menu .icon {
  top: 70%;
  left: 70%;
}
.koc-menu .koc-menu__toggle {
  top: -100px;
  left: -100px;
}
.koc-menu .koc-menu__listings {
  top: -200px;
  left: -200px;
}
.koc-menu .koc-menu__arrow {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.koc-menu .koc-menu__arrow--top {
  top: 0.5em;
  left: 220px;
}
.koc-menu #koc-menu__active:checked ~ label .koc-menu__listings .circle {
  -webkit-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.koc-menu--top-right .icon {
  top: 70%;
  left: 30%;
}
.koc-menu--top-right .koc-menu__toggle {
  top: -100px;
  left: 160px;
}
.koc-menu--top-right .koc-menu__listings {
  top: -200px;
  left: 60px;
}
.koc-menu--top-right .koc-menu__arrow {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.koc-menu--top-right .koc-menu__arrow--top {
  top: 0.5em;
  left: 20px;
}
.koc-menu--top-right #koc-menu__active:checked ~ label .koc-menu__listings .circle {
  -webkit-transform: rotate(-79deg);
      -ms-transform: rotate(-79deg);
          transform: rotate(-79deg);
}
.koc-menu--bottom-left .circle .placeholder .upside {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.koc-menu--bottom-left .icon {
  top: 30%;
  left: 70%;
}
.koc-menu--bottom-left .koc-menu__toggle {
  top: 160px;
  left: -100px;
}
.koc-menu--bottom-left .koc-menu__listings {
  top: 60px;
  left: -200px;
}
.koc-menu--bottom-left .koc-menu__arrow {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.1 ease;
  -o-transition: all 0.1 ease;
  transition: all 0.1 ease;
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.koc-menu--bottom-left .koc-menu__arrow--top {
  top: 20px;
  left: 0.5em;
}
.koc-menu--bottom-left #koc-menu__active:checked ~ label .koc-menu__listings .circle {
  -webkit-transform: rotate(100deg);
      -ms-transform: rotate(100deg);
          transform: rotate(100deg);
}
.koc-menu--bottom-right .circle .placeholder .upside {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.koc-menu--bottom-right .icon {
  top: 30%;
  left: 30%;
}
.koc-menu--bottom-right .koc-menu__toggle {
  top: 160px;
  left: 160px;
}
.koc-menu--bottom-right .koc-menu__listings {
  top: 60px;
  left: 60px;
}
.koc-menu--bottom-right .koc-menu__arrow {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.1 ease;
  -o-transition: all 0.1 ease;
  transition: all 0.1 ease;
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.koc-menu--bottom-right .koc-menu__arrow--top {
  top: 20px;
  left: 220px;
}
.koc-menu--bottom-right #koc-menu__active:checked ~ label .koc-menu__listings .circle {
  -webkit-transform: rotate(11deg);
      -ms-transform: rotate(11deg);
          transform: rotate(11deg);
}
.arrow {
  width: 20px;
  height: 20px;
  border-right: 6.666666666666667px solid #fff;
  border-top: 6.666666666666667px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  cursor: pointer;
  pointer-events: auto;
}
.arrow:hover {
  border-color: #ff947f;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
#koc-menu__active {
  position: fixed;
  top: -99999px;
  left: -99999px;
}
#koc-menu__active:checked ~ label .koc-menu__listings {
  -webkit-transform: rotate(0deg) scale(1);
      -ms-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
#koc-menu__active:checked ~ label .koc-menu__toggle {
  background-color: #392338;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#koc-menu__active:checked ~ label .hamburger {
  border-color: transparent;
  -webkit-transition: border-color 0.333333333333333s;
  -o-transition: border-color 0.333333333333333s;
  transition: border-color 0.333333333333333s;
}
#koc-menu__active:checked ~ label .hamburger:after {
  top: -2px;
  border-color: #fff;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-duration: 0.25s, 1s;
       -o-transition-duration: 0.25s, 1s;
          transition-duration: 0.25s, 1s;
}
#koc-menu__active:checked ~ label .hamburger:before {
  bottom: -2px;
  border-color: #fff;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
  -webkit-transition-duration: 0.25s, 1s;
       -o-transition-duration: 0.25s, 1s;
          transition-duration: 0.25s, 1s;
}
#koc-menu__active:checked ~ label .button:hover {
  color: #c1264e;
}
#koc-menu__active:checked ~ label .koc-menu__arrow {
  visibility: visible;
  -webkit-transition: all 1s 1.111111111111111s;
  -o-transition: all 1s 1.111111111111111s;
  transition: all 1s 1.111111111111111s;
}
#koc-menu__active:checked ~ label .koc-menu__arrow--top label {
  display: none;
}
#koc-menu__active:checked ~ label .koc-menu__arrow--top label[for="degree--up-0"] {
  display: block;
}
#koc-menu__active:checked ~ label #degree--up-0:checked ~ .koc-menu__listings {
  -webkit-transform: rotate(106deg);
      -ms-transform: rotate(106deg);
          transform: rotate(106deg);
}
#koc-menu__active:checked ~ label #degree--up-1:checked ~ .koc-menu__listings {
  -webkit-transform: rotate(213deg);
      -ms-transform: rotate(213deg);
          transform: rotate(213deg);
}
#koc-menu__active:checked ~ label #degree--up-0:checked ~ .koc-menu__arrow--top label {
  display: none;
}
#koc-menu__active:checked ~ label #degree--up-0:checked ~ .koc-menu__arrow--top label[for="degree--up-1"] {
  display: block;
}
#koc-menu__active:checked ~ label #degree--up-1:checked ~ .koc-menu__arrow--top label {
  display: none;
}
#koc-menu__active:checked ~ label #degree--up-1:checked ~ .koc-menu__arrow--top label[for="degree--up-2"] {
  display: block;
}
