.logo { width: 200px;
	margin: 0 auto;}
.backbtn {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
}
.offer {
	position: fixed;
	bottom: 25px;
	left:10px;
	cursor: pointer;
}
.language {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
ul.lang li {
	list-style: none;
	display: inline-block;
}
.specialofferopen {

}
.specialoffer {

}
.specialtext {
	text-decoration: none;
	position: fixed;
	bottom:5px;
	background-color: #fff;
	margin-top: 2px;

}