.jconfirm-box .content-pane{
    max-height: 100px !important;
    overflow: hidden;
}

.label-success,
.back-top{
    background-color: #002349;
    border: 2px solid #002349;
}
.content-header .header-icon,
a{
    color: #002349;
}
.user-panel .info a{
    color: #FFFFFF;
}
.sidebar-menu > li.active > a:before {
    background: #FFFFFF;
}
.btn-success{
    background-color: #002349;
    border-color: #002349;
}
.panel-bd .panel-heading::before {
    border-top: 12px solid #002349;
}
.f1-step.active .f1-step-icon,
.btn-success:hover, .btn-success:focus,
.btn-success:active{
    background: #002349;
}


.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #002349 !important;
}
.small-box>.inner {
    padding: 10px;
}
.small-box h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    color: #fff;
}
.small-box p {
    font-size: 15px;
    color: #fff;
}
/*
.bg-aqua {
    background-color: #00C0A3 !important;
}
.bg-green {
    background: #379FA9 !important;
}
.bg-yellow {
    background: #FFB56E !important;
}
.bg-red {
    background: #E53291 !important;
}
.bg-brown {
    background: #C86 !important;
}
.bg-blue {
    background: #66B !important;
}


.bg-gold {
    background: #CCCC5F !important;
}
.bg-pur {
    background: #E534D2 !important;
}
*/
.main-sidebar,.main-header .logo{
    background-color: #002349;
}
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a{
    background: rgba(0,55,103,.8);
}
.sidebar-form input[type="text"], .sidebar-form .btn{
     background-color: #fff;
}
.sidebar-menu .treeview-menu{
 background-color: rgba(0,0,24,.5);
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(255,255,255,0.25);
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.small-box:hover .icon {
    font-size: 95px;
}
.quick-links{
    width: 55%;
    position: absolute;
    top: 0px;
    left: 23%;
}
.quick-links li{
    text-align: center;
    list-style: none;
    float: left;
    margin: 0 8px;
    margin-top: 5px;
}
.quick-links p{
    font-weight: bold;
}
.quick-links img.icon{
    width: 38px;
}